# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/

# Test project generated folders
Test/[Ll]ibrary/
Test/[Tt]emp/
Test/[Oo]bj/
Test/[Bb]uild/
Test/[Bb]uilds/
Test/[Ll]ogs/
Test/[Uu]ser[Ss]ettings/
Test/MemoryCaptures/

# Output AssetBundles
Test/Assets/AssetBundles/
AssetBundles/

# OS generated
.DS_Store
Thumbs.db
